<div class="cart-item">
   <div class="img-container">
      <img class="card-img" src='{{ product.image }}' alt="{{ product.title }}">
   </div>
   <div class="desc">
      <h3 class="mb-5">{{ product.title }}</h3>
      <div class="d-flex justify-content-between align-items-center">
         <span>${{ product.price }}</span>
         <div>
            <button class="btn btn-sm btn-danger" (click)="decreaseCount(product)"><i class="fas fa-minus"></i></button>
            <span class="mx-2">{{ product.count }}</span>
            <button class="btn btn-sm btn-success" (click)="increaseCount(product)"><i class="fas fa-plus"></i></button>
         </div>
         <div class="me-2">
            <p class="mb-0">{{ product.count }} x ${{ product.price }} = ${{ product.count * product.price }}</p>
         </div>
      </div>
   </div>
</div>
